<footer class="bg-white shadow-inner mt-10">
    <div class="max-w-7xl mx-auto px-5 py-4 flex flex-col items-center text-gray-600">
        <p class="text-sm text-center">
            <strong>&copy; 2025 Tecno Final. Gabriel Jorge Garcia
            </strong>
        </p>
        <div class="mt-2 text-center">
            <a href="https://www.linkedin.com/in/gabriel-garcia-developer/" target="_blank" rel="noopener noreferrer"
                class="text-blue-600 hover:underline text-sm">
                LinkedIn
            </a>
        </div>
    </div>
</footer>